/* Lakritsugglan CSS */

#pageWrapper{
	background:#f5f4f0;
	border-radius:3.5em 0 0 0;/* "hide" corner behind logo */
	margin:.9375em;/* 15/16 */
	/* padding:1.875em;30/16 */
	padding-top:.9375em;
	position:relative;
	z-index:0
}
#pageWrapper>*{
	margin:0 1.875em;/* 30px/16px */
}

.amp{}
em{

}
strong{

}
blockquote{

}
p{
	font:normal 100%/1.5 Helvetica,Arial,Verdana,sans-serif;
	margin:1.1em auto;
}
h1+p,h2+p,h3+p,h4+p{
	margin:0 auto;
}


/** LINKS **/
a{
	border-bottom:.0625em solid #63b4af;/* 1px/16 */
	color:#63b4af;
	padding-bottom:.25em;
	text-decoration:none;
}
a:active,a:hover{
	border-bottom-color:#f8716d;
	color:#f8716d;
}


h1,h2,h3,h4{
	font:bold 100%/1.3 sans-serif,monospace,Impact,sans-serif;
	margin:.5em auto 0;
}
header h1,header h2,header h3{
	margin:0;
}
h1{
	font-size:2.1154em;
}
h2{
	font-size:1.6154em;
}
h3{
	font-size:1.3077em;
}
#pageHeader h1{
	margin-left:2.1154em;/* 2.1154^2 */
	margin-right:1em;
	z-index:12;
}
#pageHeader h2{
	margin-left:2.7701604308530394948619536956791em;/* 2.1154^2/1,6154 */
}
#pageHeader h1:before,
#pageHeader h1:after{
	background:#63b4af;
	border-radius:2em;/* circle */
	content:'';
	height:3em;/* 3x height/width of h1 characters */
	left:-0.05485407353663959557188662906359em;
	position:absolute;
	top:-0.05485407353663959557188662906359em;/* 7.5/(16x8.5454) */
	width:3em;
	z-index:-1;
}
#pageHeader h1:before{
	background:url(img/owl-logo.png) no-repeat center center;
	background-size:100% auto;
	border-radius:0;
	z-index:1;
}



#pageHeader h1,#pageHeader h2{
	line-height:1.1em;
}
#pageHeader hgroup{
	min-height:6em;/* 2*3, prevents elements in header to cover logo */
}