/* CSS reset */
html,body,body *{
margin:0;padding:0;border:0;outline:0;
font-weight:inherit;list-style:none;vertical-align:baseline;background:none;}
body{background:white;color:black;line-height:1;font-size:100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
blockquote,q{quotes:none;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
:focus{outline:0;}
/* Fix for HTML5 elements to display correctly */
article,aside,footer,header,hgroup,nav,section{display:block;}
